<ion-header>
    <ion-toolbar color="dark">
        <ion-title style="padding-left: 30px; font-weight: bold">
            News
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="card-background" padding>
    <ion-card>
        <img src="assets/guias/fortnite1.jpg/">
        <div class="card-title">
            Fortnite X Jordan, completa todos los desafíos de Entrega en el Centro
        </div>
        <div class="card-subtitle">hola </div>
    </ion-card>

    <ion-card>
        <img src="assets/guias/fortnite2.jpg/">
        <div class="card-title">
            Completa los desafíos semanales de Fortnite: semana 3, temporada 9
        </div>

    </ion-card>


    <ion-card>
        <img src="assets/guias/fortnite3.jpg/">
        <div class="card-title">
            Completa los desafíos semanales de Fortnite: semana 4, temporada 9
        </div>

    </ion-card>








</ion-content>