<ion-header>
    <ion-toolbar color="dark">
        <ion-title style="padding-left: 30px; font-weight: bold">
            News
        </ion-title>
    </ion-toolbar>
</ion-header>

<!-- <ion-searchbar color="dark" (ionChange)="buscar($event)"></ion-searchbar> -->
<ion-content padding>

    <ion-grid fixed>
        <ion-row>
            <ion-col size="12" size-leg="3" size-md="4" size-sm="6">
                <ion-card>
                    <img src="assets/guias/fortnite1.jpg/">
                    <ion-card-content>

                        <ion-card-subtitle>
                            <p>
                                <ion-label style="font-weight: bold; color:  red">Fortnite X Jordan, completa todos los desafíos de Entrega en el Centro</ion-label>

                            </p>
                        </ion-card-subtitle>

                        <p>
                            <ion-label style="font-weight: bold; color: rgb(5, 27, 20)">Cambia el color de 1000 casillas Baila o usa un gesto entre dos gastronetas Encuentra a Jonesy escondido tras una valla Reúne una pelota de baloncesto, una moneda y un zapato en una misma partida Encuentra a Jonesy en las alcantarillas</ion-label>
                        </p>


                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col size="12" size-leg="3" size-md="4" size-sm="6">
                <ion-card>
                    <img src="assets/guias/fortnite2.jpg/">
                    <ion-card-content>


                        <ion-card-subtitle>
                            <p>
                                <ion-label style="font-weight: bold; color:  red">Completa los desafíos semanales de Fortnite: semana 3, temporada 9</ion-label>
                            </p>
                        </ion-card-subtitle>
                        <p>
                            <ion-label style="font-weight: bold; color: rgb(5, 27, 20)">Por fases: Haz cosas con vehículos. Haz un truco con el driftboard Aguanta tres segundos en el aire en un quadcrasher Destruye estructuras de oponentes con un vehículo Registra cofres en Soto Solitario o Pico Polar (7) Inflige
                                daño a oponentes en los 10 segundos posteriores de usar un túnel de viento</ion-label>

                        </p>


                    </ion-card-content>
                </ion-card>


            </ion-col>

            <ion-col size="12" size-leg="3" size-md="4" size-sm="6">
                <ion-card>
                    <img src="assets/guias/fortnite3.jpg/">
                    <ion-card-content>


                        <ion-card-subtitle>
                            <p>
                                <ion-label style="font-weight: bold; color:  red">Completa los desafíos semanales de Fortnite: semana 4, temporada 9</ion-label>
                            </p>
                        </ion-card-subtitle>
                        <p>
                            <ion-label style="font-weight: bold; color: rgb(5, 27, 20)">Inflige daño a tus oponentes con fusiles de tirador (500) Por fases: baila en carteles de comida Baila dentro de un holograma de Tomatoide Baila dentro de un holograma de Hamburrrguesa Baila sobre un Dumpling gigante Eliminaciones
                                con armas legendarias (3)
                            </ion-label>

                        </p>


                    </ion-card-content>
                </ion-card>

            </ion-col>


            <ion-col size="12" size-leg="3" size-md="4" size-sm="6">
                <ion-card>
                    <img src="assets/guias/fortnite4.jpg/">
                    <ion-card-content>


                        <ion-card-subtitle>
                            <p>
                                <ion-label style="font-weight: bold; color:  red">Los desafíos de "El botín de Wick" en Fortnite</ion-label>
                            </p>
                        </ion-card-subtitle>
                        <p>
                            <ion-label style="font-weight: bold; color: rgb(5, 27, 20)">Gana una partida de El botín de Wick (1) Juega partidas de El botín de Wick (5) Recoge fichas doradas (120) Recoge fichas doradas en una sola partida (20) Inflige daño con la escopeta de combate (500) Inflige daño con el fusil
                                de asalto táctico (500)</ion-label>

                        </p>


                    </ion-card-content>
                </ion-card>

            </ion-col>

            <ion-col size="12" size-leg="3" size-md="4" size-sm="6">
                <ion-card>
                    <img src="assets/guias/fortnite5.jpg/">
                    <ion-card-content>


                        <ion-card-subtitle>
                            <p>
                                <ion-label style="font-weight: bold; color:  red">Te contamos cómo bailar entre dinosaurios, respiraderos volcánicos y estructuras de hielo, entre otras cosas.</ion-label>
                            </p>
                        </ion-card-subtitle>
                        <p>
                            <ion-label style="font-weight: bold; color: rgb(5, 27, 20)">Por fases (5): Aterriza en localizaciones con nombre Registra cofres en Pico Polar o Soto Solitario (7) Dfiícil: Monta en 3 respiraderos volcánicos distintos sin aterrizar (1)</ion-label>

                        </p>


                    </ion-card-content>
                </ion-card>

            </ion-col>

            <ion-col size="12" size-leg="3" size-md="4" size-sm="6">
                <ion-card>
                    <img src="assets/guias/fortnite6.jpg/">
                    <ion-card-content>


                        <ion-card-subtitle>
                            <p>
                                <ion-label style="font-weight: bold; color:  red">Proponemos una guía para descubrir la estrella oculta de esta semana.</ion-label>
                            </p>
                        </ion-card-subtitle>
                        <p>
                            <ion-label style="font-weight: bold; color: rgb(5, 27, 20)">A Epic Games parece gustarle mucho la zona del volcán, porque nos toca volver a él por enésima vez. Si la has visitado lo suficiente, seguro que reconoces los ríos de lava que aparecen en la pantalla de carga de esta semana.
                                Alcanzar la estrella oculta es tan simple como aterrizar en la ladera sur del volcán, justo en el islote donde hay varios contenedores y un árbol podrido</ion-label>

                        </p>


                    </ion-card-content>
                </ion-card>


            </ion-col>



            <ion-col size="12" size-leg="3" size-md="4" size-sm="6">
                <ion-card>
                    <img src="assets/guias/fortnite7.jpg/">
                    <ion-card-content>


                        <ion-card-subtitle>
                            <p>
                                <ion-label style="font-weight: bold; color:  red">Tendrás que trasladarte a una de las nuevas localizaciones del mapa para reclamar tu icono.</ion-label>
                            </p>
                        </ion-card-subtitle>
                        <p>
                            <ion-label style="font-weight: bold; color: rgb(5, 27, 20)">¿Ya has completado los desafíos de la semana 2, temporada 8 de Fortnite? ¿No? Pues vuelve a la partida y practica con esos cañones. Cuando ya los tengas tachados de la lista, estarás listo para completar el Desafío de Descubrimiento,
                                un clásico de Fortnite que te anima a buscar un estandarte oculto para hacerte con una estrella… o en este caso, un simple icono.</ion-label>

                        </p>


                    </ion-card-content>
                </ion-card>


            </ion-col>


            <ion-col size="12" size-leg="3" size-md="4" size-sm="6">
                <ion-card>
                    <img src="assets/guias/fortnite8.jpg/">
                    <ion-card-content>


                        <ion-card-subtitle>
                            <p>
                                <ion-label style="font-weight: bold; color:  red">Descubre dónde está la estrella entre un hombre de roca gigante, un tomate coronado y un árbol cercado, entre otros.</ion-label>
                            </p>
                        </ion-card-subtitle>
                        <p>
                            <ion-label style="font-weight: bold; color: rgb(5, 27, 20)">Desafíos gratuitos Por fases: Aterriza en Pico Polar (1). Inflige daño a las estructuras de los enemigos (5.000). Difícil: Eliminaciones con armas con silenciador (3). Desafíos del pase premium Por fases: Baila en lo alto de
                                una torre de agua (1). Registra cofres en Alameda Aullante u Oasis Ostentoso (7). Difícil: Busca entre un hombre de roca gigante, un tomate coronado y un árbol cercado (1). Difícil: Elimina a un enemigo desde 5 m o menos
                                de distancia (3).
                            </ion-label>

                        </p>


                    </ion-card-content>
                </ion-card>

            </ion-col>


        </ion-row>

    </ion-grid>



</ion-content>